* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 30px;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.reviews-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.review-item {
    display: flex;
    padding: 10px;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    background-color: #c4c4c4;
}

.review-item button {
    border: none;
    background-color: #c4c4c4;
    font-size: 1.5rem;
}